* {
    font-family: Roboto;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 0 100px 0 100px;
}

.header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 10px
}

.header-links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    width: 100px;
    padding: 0px;
    margin: 0px;
}